.fadeIn-enter {
    opacity: 0.01;
    width: 0px;
  }
  
  .fadeIn-enter.fadeIn-enter-active {
    opacity: 1;
    width: 100px;
    transition: 700ms;
  }
  
  .fadeIn-leave {
    opacity: 1;
    width: 100px;
  }
  
  .fadeIn-leave.fadeIn-leave-active {
    opacity: 0.01;
    width: 0px;
    transition: 700ms;
  }