body {
    background-color: #eff3f7;
}

h1 {
    margin: 0;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    height: 100vh;
}