//Main Rendering Component Styles Here

main {
    width: 75%;
    
    .main__contentWrapper {
        background-color: white;
        height: calc(100vh - 100px);
        box-shadow: 0px 5px 10px rgba(65, 65, 65, 0.35);
    }
}