@import './variables.scss';

.overlay__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(5, 0, 40);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s 5s ease-in-out;
    box-shadow: 1px 1px 10px black;

    .overlay__content {
        position: relative;
        z-index: 999;
        transition: 0.3s 1s ease-in-out;
        text-align: center;

        .overlay__title {
            font-size: 5rem;
            font-weight: 500;
            letter-spacing: 1rem;
        }

        .overlay__subTitle {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 100;
            letter-spacing: 1rem;
        };
    }

    .overlay__continueText {
        font-size: 1.5rem;
        font-weight: 100;
        margin-top: 100px;

        .overlay__continueButton {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            .overlay__continueButtonText {
                margin-right: 10px;
            }
        }
    }

    .overlay__loader {
        opacity: 0;
        transition: 0.3s 2s ease-in-out;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}


// This is particle js stuff

canvas {
    position: fixed;
    height: 100%;
    width: 100%;
}

#overlay__particles {
position: fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
background-size: cover;
background-position: 50%, 50%;
}