//Main
$main-background: #1e1e2e;

//Nav colours
$nav-grey: #27293c;
$nav-font: #fff;
$nav-icon: #fff;

//Borders
$border-color: $nav-grey;
$border-width: 0.5px;
$border-radius: 15px;
$card-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);